@section top_background
{
    @{Html.RenderPartial("_AccountTopPartial", new SkiLand.Web.Models.AccountViewModels.AccountBreadcrump("Доступ заборонено!"));}
}
<header>
    <h2 class="text-danger">ViewData["Title"]</h2>
    <p class="text-danger">You do not have access to this resource.</p>
</header>
