@section top_background
{
    @{Html.RenderPartial("_AccountTopPartial", new SkiLand.Web.Models.AccountViewModels.AccountBreadcrump("Еmail підтверджено!"));}
}
<div>
    <p>
        Thank you for confirming your email.
    </p>
</div>
