@model SkiLand.Web.Models.AccountViewModels.AccountBreadcrump

    <link rel="stylesheet" type="text/css" href="/styles/hotels_styles.css">
    <link rel="stylesheet" type="text/css" href="/styles/hotels_responsive.css">

    <div class="home">
        <div class="home_background parallax-window" data-parallax="scroll" data-image-src="/images/home.jpg" data-speed="0.7"></div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content">
                        <div class="home_content_inner">
                            <div class="home_title">@Model.Title</div>
                            <div class="home_breadcrumbs">
                                <ul class="home_breadcrumbs_list">
                                    <li class="home_breadcrumb"><a href="/">Головна</a></li>
                                    <li class="home_breadcrumb">@Model.Title</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<h2>&nbsp;</h2>
